{% extends 'main.html' %}
{% load static %}
{% block content %}

{% if page == 'register' %}

<!--<form action="{% url 'users:register' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="submit">

</form>-->
<br>
<br>
<br>
<br>
<br>
<div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="/">
          <img src="{% static 'images/icon.svg' %}" alt="icon" />
        </a>
        <h3>Account SignUp</h3>
        <p>Create a new developer account</p>
      </div>

      <form action="{% url 'users:register' %}" method="POST" class="form auth__form">
        {% csrf_token %}
        {% for field in form %}
        <!-- Input:Text -->
        <div class="form__field">
          <label for="formInput#text">{{field.label}} </label>
          {{field}}
          <p>
          {% if field.help_text %}
          {{field.help_text}}
          {% endif %}
          </p>
          <p style="color: red;">
            {% for error in field.errors %}
            {{error}}
            {% endfor %}
        </p>
        </div>
        {% endfor %}
        
       

        <div class="auth__actions">
          <input class="btn btn--sub btn--lg" type="submit" value="Sign  In" />
        </div>
      </form>
      <div class="auth__alternative">
        <p>Already have an Account?</p>
        <a href="{% url 'users:login' %}">Log In</a>
      </div>
    </div>
  </div>

{% else %}
<!--<form action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    <p>
        Username:
        <input type="text" name="username">
    </p>
    <p>
        Password:
        <input type="password" name="password">
    </p>
    <p>
        <input type="submit" value="Login">
    </p>

    Don't have an Account?
    <a href="">Register</a>

</form>-->

<div class="auth">
    <div class="card">
      <div class="auth__header text-center">
        <a href="/">
          <img src="{% static 'images/icon.svg' %}" alt="icon" />
        </a>
        <h3>Account Login</h3>
        <p>Hello Developer, Welcome Back!</p>
      </div>

      <form action="{% url 'users:login' %}" method="POST" class="form auth__form">
        {% csrf_token %}
        <!-- Input:Email -->
        <div class="form__field">
          <label for="formInput#text">Username: </label>
          <input
            class="input input--text"
            id="formInput#text"
            type="text"
            name="username"
            placeholder="Enter your username..."
          />
        </div>

        <!-- Input:Password -->
        <div class="form__field">
          <label for="formInput#password">Password: </label>
          <input
            class="input input--password"
            id="formInput#passowrd"
            type="password"
            name="password"
            placeholder="••••••••"
          />
        </div>
        <div class="auth__actions">
          <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
          <a href="{% url 'password_reset' %}">Forget Password?</a>
        </div>
      </form>
      <div class="auth__alternative">
        <p>Don’t have an Account?</p>
        <a href="{% url 'users:register' %}">Register</a>
      </div>
    </div>
  </div>


{% endif %}


{% endblock %}