{% extends 'main.html' %}
{% block content %}
    <!--<p>Single Project Template</p>
   <p> {{proj.id}} <br> {{proj.title}} <br> {{proj.description}}</p>-->
   <!--<p> {{proj2.id}} <br> {{proj2.title}} <br> {{proj2.description}}</p>-->
   <!--<p>
       <strong>{{proj.name}}</strong>
      <p><img src="{{proj.image.url}}" alt="No image"></p>
   
   <table style="border: solid 2px black;">
      <tr>
          <th>Review Description</th>
          <th>Vote</th>
      </tr>
      {% for r in proj.review_set.all %}
        <tr>
             <td>{{r.body}}</td>
             <td>{{r.value}}</td>
        </tr>
      {% endfor %}

   </table>
   </p>-->

    <!-- Main Section -->
    <main class="singleProject my-md">
      <div class="container">
        <div class="layout">
          <div class="column column--1of3">
            <h3 class="singleProject__subtitle">Tools & Stacks</h3>
            <div class="singleProject__toolStack">
              {% for tag in proj.Tag.all %}
              <span class="tag tag--pill tag--sub tag--lg">
                <small>{{Tag}}</small>
              </span>
              {% endfor %}
            
            </div>
            {% if proj.source_link %}
            <a class="singleProject__liveLink" href="{{proj.source_link}}" target="_blank"><i class="im im-external-link"></i>Source Link
            </a>
            {% endif %}
            {% if proj.demo_link %}
            <a class="singleProject__liveLink" href="{{proj.demo_link}}" target="_blank"><i class="im im-external-link"></i>Live Demo
            </a>
            {% endif %}
          </div>
          <div class="column column--2of3">
            <img class="singleProject__preview" src="{{proj.image.url}}" alt="portfolio thumbnail" />
            <a href="{% url 'users:single-profile' proj.owner.id %}" class="singleProject__developer">{{proj.owner.name}}</a>
            <h2 class="singleProject__title">{{proj.name}}</h2>
            <h3 class="singleProject__subtitle">About the Project</h3>
            <div class="singleProject__info">
              {{proj.description}}
            </div>
  
            <div class="comments">
              <h3 class="singleProject__subtitle">Feedback</h3>
              <h5 class="project--rating">
                {{proj.Vote_ratio}}% Postitive Feedback ({{proj.Vote_total}} Votes)
              </h5>

              {% if proj.owner == request.user.profile %}
              <p>You cannot review your own Project</p>

              {% elif request.user.profile.id in proj.reviewers %}
              <p>You have already reviewed for this project</p>

              {% elif request.user.is_authenticated %}
                <form class="form" action="#" method="POST">
                {% csrf_token %}
                <!-- Textarea -->
                {% for field in review_form %}
                <div class="form__field">
                  <label for="formInput#textarea">{{field.label}}</label>
                 {{field}}
                </div>
                {% endfor %}
                <input class="btn btn--sub btn--lg" type="submit" value="Comments" />
              </form>

              {% else %}
              <a href="{% url 'users:login' %}?next={{request.path}}">Please Login to leave a review</a>
              
              {% endif %}

              <div class="comment singleProject__subtitle">Reviews</div>
              <div class="commentList">

                {% for review in proj.review_set.all %}
                <div class="comment">
                  <a href="{% url 'users:single-profile' review.owner.id %}">
                    <img class="avatar avatar--md"
                      src="{{review.owner.profile_image.url}}" alt="user" />
                  </a>
                  <div class="comment__details">
                    <a href="{% url 'users:single-profile' review.owner.id %}" class="comment__author">{{review.owner.name}}</a>

                    <p class="comment__info">
                      {{review.body}}
                    </p>
                  </div>
                </div>
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </main>

{% endblock %}